.alert {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    height: 67px;
    width: 560px;
    border-radius: 12px;
    padding: 16px 22px 17px 20px;
    display: flex;
    align-items: center;
}
.alert-warning {
    background: #f2a600;
}
.alert-success {
    background: #12c99b;
}
.alert-primary {
    background: #0676ed;
}
.alert-dark {
    background: #151a30;
}
.alert-error {
    background: #e41749;
}
.alert .icon__wrapper {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.253);
    display: flex;
    align-items: center;
    justify-content: center;
}
.alert .icon__wrapper span {
    font-size: 21px;
    color: #fff;
}
.alert p {
    color: #fff;
    font-family: inherit;
    margin-left: 10px;
}
.alert p a,
.alert p a:visited,
.alert p a:active {
    color: #fff;
}
.alert .open {
    margin-left: auto;
    margin-right: 5px;
}
.alert .close, .alert .open {
    color: #fff;
    transition: transform 0.5s;
    font-size: 18px;
    cursor: pointer;
}
.alert .close:hover, .alert .open:hover {
    transform: scale(1.3);
}